/* You can add global styles to this file, and also import other style files */

.has-error  {
    color: #a94442;
  }

 .mr-4{
  margin:4px !important
 } 

 .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header {
    padding: 2.75rem 20.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-weight: 1000!important;
}

.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #337ab7;;
}

.nav-pills .nav-link {
    border-radius: .25rem;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.nav {
    padding-left: 0;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    list-style: none;
}